<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexandre.thauvin.smarttoolbox">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/toolbox"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/toolbox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="alexandre.thauvin.smarttoolbox.action.REQUEST_ENABLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="alexandre.thauvin.smarttoolbox.action.REQUEST_DISCOVERABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".TimeChecker"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false"/>


        <receiver

            android:name=".ServiceReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">


        <intent-filter>
                <action android:name=".RestartShutDownService"/>
            </intent-filter>



        </receiver>
    </application>

</manifest>